;.editorconfig

root=true

[**.js]
ident_style = space
ident_size = 4

[**.json]
ident_style = space
ident_size = 4

[**.jsx]
e4x = true
ident_style = space
ident_size = 4

[**.css]
ident_style = space
ident_size = 4

[**.html]
ident_style = space
ident_size = 4
max_char = 78
brace_style = expand
