[Unit]
Description=Check mail every five minutes

[Timer]
Persistent=false
OnBootSec=2min
OnUnitActiveSec=5min
Unit=checkmail.service

[Install]
WantedBy=timers.target
